
.card{
    box-shadow: 2px 2px 2px black;
}

.card:hover{
    box-shadow: 1px 1px 1px black;
}

.mg-btn-cero{
    margin-bottom: 0px !important;
    padding-top: 3%;
    padding-bottom: 3%;
}

.size{
    width: 100px;
}

.border-menu{
    border-radius: 7px;
}

/*********Colores****************/

.bg-blVio{
    background-color:blueviolet;
}

.border-menu:hover{
    background-color: white !important;
    color: black !important;
}

.btn-dark:hover{
    background-color: rgb(243, 140, 255) !important;
}