
/*************Matrix table style****************/

table {
    border-collapse: collapse;
    width: auto !important;
    border-radius: 3px;
}

td, th {
    border: 1px solid #727272 !important;
    background-color: rgb(229, 218, 243) !important;
    padding: 8px;
    text-align: center;
}

/* Clase para hacer el contenedor de la tabla responsivo */
.responsive-table {
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important; /* Para un desplazamiento suave en iOS */
}

.responsive-table table {
    width: 100% !important;
    border-collapse: collapse !important;
}

.responsive-table th, 
.responsive-table td {
    padding: 8px !important;
}

.responsive-table th {
    background-color: #f2f2f2 !important;
    font-weight: bold !important;
}
