
/*************Matrix table style****************/

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;
}

td, th {
    border: 1px solid #727272 !important;
    background-color: rgb(229, 218, 243) !important;
    text-align: left;
    padding: 8px;
    text-align: center;
}